<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621322405557-iqhm6869rqegnd6duk89uk1lhaf8sdpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621322405557-iqhm6869rqegnd6duk89uk1lhaf8sdpb</string>
	<key>API_KEY</key>
	<string>AIzaSyDrCZjmHdJKFVVJnZYehI5827sF6GuO9dk</string>
	<key>GCM_SENDER_ID</key>
	<string>621322405557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SangIlMo.kwu.take-care-refrigerator</string>
	<key>PROJECT_ID</key>
	<string>take-care-refrigerator</string>
	<key>STORAGE_BUCKET</key>
	<string>take-care-refrigerator.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621322405557:ios:e8e4b7ac353c5695fea0fc</string>
</dict>
</plist>